.card_group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.cart_title {
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: left;
  color: transparent;
}
/*card style */
.custom-card {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  width: 100%;
  margin-bottom: 20px;
}

.custom-card:hover {
  transform: translateY(-5px);
}

/*image style */
.card-image img {
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* content area */
.card-content {
  padding: 20px;
}

.card-title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card-desc {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* read more */
.card-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5d5fef;
  color: #fff !important;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
}

.card-btn:hover {
  background-color: #4849c7;
}

/* Call to Action */
.coll_to_actions {
  background: #f9f9f9;
  padding: 20px;
  border-left: 5px solid #5d5fef;
  margin-top: 20px;
}
.coll_to_actions:hover {
  background: linear-gradient(45deg, #20a393 0%, #77a3f9 100%);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: #fff;
}
