@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-weight: normal;
  font-family: "Teko", sans-serif;
}
